:root {
  --background-color: #101010;
  --text-color: #3d3d3d;
  --accent-color: #e72838;
  --interactive-color: #a8a8a8;
  --input-background: #404040;
  --input-outline: #5a5a5a;
}

.App {
  scroll-behavior: smooth;
}

/* NAVIGATION */
.navigation {
  font-family: "Segoe UI Regular";
  font-size: 1.5rem;
  position: fixed;
  top: 12%;
  height: 24vh;
  z-index: 10;
  padding-left: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation li {
  list-style: none;
  text-transform: uppercase;
  transition: color 250ms ease-in-out;
}

.nav-icon {
  display: none;
}

.color-white {
  color: white;
}

.color-gray {
  color: var(--interactive-color);
}

.navigation li:hover {
  color: var(--accent-color);
  cursor: pointer;
  transition: color 250ms ease-in-out;
}

.navigation li.active {
  font-family: "Segoe UI Bold";
  color: var(--accent-color);
}

.scroll-progress {
  position: fixed;
  width: 4px;
  height: 30vh;
  left: 2em;
  bottom: 20%;
  background: var(--interactive-color);
  overflow: hidden;
  z-index: 10;
}

.scroll-progress .progress-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  top: -100%;
  background: var(--accent-color);
}

/* HOME */
.home {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  position: relative;
  height: 100vh;
  background: var(--background-color);
}

.background-picture {
  position: absolute;
  width: 75%;
  height: 100%;
  right: 0;
  grid-column-start: 2;
  grid-column-end: 4;
  overflow: hidden;
}

.background-picture img {
  width: 100%;
  margin-top: -19%;
}

.home .title {
  grid-column-start: 2;
  position: absolute;
  bottom: 28%;
  left: 8%;
  z-index: 1;
}

.home .title span {
  display: block;
  color: white;
}

.home .title .text {
  font-family: "Segoe UI Regular";
  font-size: 2.5rem;
  line-height: 1.8rem;
}

.home .title .name,
.home .title .job {
  font-family: "Segoe UI Bold";
}

.home .title .name {
  font-size: 5.5rem;
  margin-bottom: 0.2em;
}

.home .title .job {
  font-size: 1.9rem;
  display: inline;
  color: black;
  background: var(--accent-color);
  padding: 0.4em 1.2em 0.4em 1.2em;
}

/* ABOUT */
.about {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  height: 100vh;
  background: white;
  z-index: 2;
}

.about .about-flex {
  grid-column-start: 2;
  display: flex;
  background: white;
  z-index: 4;
}

.about-flex .flex-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-flex .image-container {
  flex: 0.8;
  display: flex;
  align-items: center;
}

.about-flex .image-container img {
  width: 100%;
}

.about-flex .flex-column .info {
  width: 80%;
  align-self: flex-start;
}

.about-flex .flex-column .info span {
  display: block;
  text-align: center;
  font-family: "Segoe UI Regular";
  color: var(--text-color);
}

.info .title {
  font-size: 3.2em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.info .description {
  font-size: 1.1em;
}

.info .image-container-mobile {
  display: none;
}

/* skills */
.skills {
  width: 80%;
  min-height: 42%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.skills .slide {
  display: flex;
  height: 100%;
  width: 100%;
}

.skills .slide .skills-set {
  flex: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills-set .skill {
  font-family: "Segoe UI Regular";
  font-size: 1rem;
  color: var(--interactive-color);
  text-align: center;
  background-color: white;
  box-shadow: 0px 3px 5px 1px rgba(214, 214, 214, 1);
  width: 20%;
  height: 120px;
  cursor: default;
  margin-left: 1em;
  margin-right: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: color 250ms ease-in-out, height 250ms ease-in-out;
}

.svg-icon {
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
  fill: var(--interactive-color);
}

.skills-set .skill:hover .svg-icon {
  fill: var(--accent-color);
}

.skills-set .skill:hover {
  color: var(--accent-color);
}

.skills-set .skill-expandable:hover {
  color: var(--accent-color);
  cursor: default;
  height: 190px;
  transition: height 250ms ease-in-out, color 250ms ease-in-out;
}

.skills-set .skill:hover .arrow-down {
  transform: rotate(-180deg);
  transition-duration: 400ms;
}

.skills-set .skill .desc {
  padding: 10px;
  display: none;
  opacity: 0;
}

.skills-set .skill-expandable:hover .desc {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

.skills-set .skill span {
  display: block;
}

.skills-set .skill .skill-icon {
  font-size: 3rem;
  align-self: center;
}

.skills-set .skill .name {
  font-family: "Segoe UI Bold";
  font-size: 1.4em;
}

/* pagination */
.pagination {
  align-self: flex-start;
  width: 80%;
  display: flex;
  justify-content: center;
}

.pagination .page {
  width: 50px;
  height: 5px;
  background: var(--interactive-color);
  margin-right: 10px;
  transition: background 250ms ease-in-out;
}

.pagination .page:hover {
  background: var(--accent-color);
  transition: background 250ms ease-in-out;
  cursor: pointer;
}

.pagination .page.active {
  background: var(--accent-color);
}

/* PORTFOLIO */
.portfolio {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  margin-top: 3em;
}

.portfolio .title {
  grid-column-start: 2;
  font-family: "Segoe UI Regular";
  color: var(--text-color);
  font-size: 3.2em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.portfolio .pagination {
  font-family: "Segoe UI Bold";
  font-size: 1.1em;
  grid-column-start: 2;
  width: 16%;
  margin: 2em auto 2em auto;
  box-shadow: 0px 3px 5px 1px rgba(214, 214, 214, 1);
}

.portfolio .pagination span {
  display: block;
  width: 50%;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 1.1em;
  text-align: center;
  color: var(--interactive-color);
  background: white;
  transition: color 250ms ease-in-out, background 250ms ease-in-out;
}

.portfolio .pagination span.active {
  background: var(--accent-color);
  color: white;
}

.portfolio .pagination span:hover {
  cursor: pointer;
  color: var(--accent-color);
  transition: color 250ms ease-in-out;
}
.portfolio .pagination span.active:hover {
  color: white;
}

/* projects */
.portfolio .projects {
  grid-column-start: 2;
  height: 60vh;
  padding-bottom: 2em;
  margin-bottom: 2em;
  overflow: hidden;
}

.portfolio .projects .slide {
  display: flex;
  height: 100%;
}

/* react projects */
.projects .slide .react-project-set {
  flex: none;
  width: 100%;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.react-project-set .column-one {
  flex-basis: 38%;
  overflow: hidden;
  box-shadow: 0px 3px 5px 1px rgba(214, 214, 214, 1);
}

.react-project-set .column-one img {
  width: 100%;
  transition: transform 400ms ease-out;
}

.react-project-set .column-one:hover img {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 400ms ease-out;
}

.react-project-set .column-two {
  flex-basis: 38%;
  box-sizing: border-box;
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.react-project-set .column-two .project-one,
.react-project-set .column-two .project-two {
  width: 49%;
  height: 49%;
  margin-bottom: 1%;
  overflow: hidden;
  box-shadow: 0px 3px 5px 1px rgba(214, 214, 214, 1);
}

.react-project-set .column-two .project-three {
  width: 100%;
  height: 49%;
  margin-top: 1%;
  overflow: hidden;
  box-shadow: 0px 3px 5px 1px rgba(214, 214, 214, 1);
}

.react-project-set .column-two .project-one img {
  width: 200%;
  transition: transform 400ms ease-out;
}

.react-project-set .column-two .project-two img,
.react-project-set .column-two .project-three img {
  width: 100%;
  transition: transform 400ms ease-out;
}

.react-project-set .column-two .project-one:hover img,
.react-project-set .column-two .project-two:hover img,
.react-project-set .column-two .project-three:hover img {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 400ms ease-out;
}

.react-project-set .column-three {
  flex-basis: 23%;
  /* margin-right: 0.5em; */
  box-sizing: border-box;
  overflow: hidden;
  background: orange;
  box-shadow: 0px 3px 5px 1px rgba(214, 214, 214, 1);
}

.react-project-set .column-three img {
  width: 100%;
  transition: transform 400ms ease-out;
}

.react-project-set .column-three:hover img {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 400ms ease-out;
}

/* GAME PROJECTS */
.game-project-set {
  width: 100%;
  flex: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-project-set a {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-project-set a img {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  box-shadow: 0px 3px 5px 2px rgba(214, 214, 214, 1);
  transition: box-shadow 250ms ease-in-out;
}

.game-project-set a img:hover {
  box-shadow: 0px 3px 2px 1px rgba(214, 214, 214, 1);
  transition: box-shadow 250ms ease-in-out;
}

/* CONTACT */
.contact {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  margin-top: 2em;
  color: white;
  background: var(--background-color);
}

.contact span {
  font-family: "Segoe UI Regular";
  grid-column-start: 2;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 3em;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}

.contact .input-container {
  grid-column-start: 2;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 35vh;
  justify-content: space-between;
}

.contact .input-container div {
  display: flex;
  justify-content: space-between;
}

.contact .input-container div input {
  flex: none;
  width: 44.5%;
}

.contact .input-container div input,
.contact .input-container input {
  font-family: "Segoe UI Regular";
  background: var(--input-background);
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.6em;
}

.contact .input-container textarea {
  font-family: "Segoe UI Regular";
  flex-basis: 60%;
  background: var(--input-background);
  resize: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.6em;
  box-sizing: border-box;
}

.contact .input-container div input:focus,
.contact .input-container input:focus,
.contact .input-container textarea:focus {
  outline: 4px solid var(--input-outline);
}

.contact button,
.contact-submit {
  font-family: "Segoe UI Bold";
  font-size: 1.2em;
  padding: 0.7em 1.8em 0.7em 1.8em;
  border: none;
  grid-column-start: 2;
  margin: 2em auto 2em auto;
  background: white;
  color: var(--interactive-color);
  text-transform: uppercase;
  transition: color 250ms ease-in-out;
}

.contact button:hover,
.contact .contact-submit:hover {
  color: var(--accent-color);
  transition: color 250ms ease-in-out;
  cursor: pointer;
}

.contact button:focus,
.contact .contact-submit:focus {
  background: var(--accent-color);
  color: white;
  outline: none;
}
